@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
    
    background-color: #E0E5E8;
    font-family: 'Montserrat', sans-serif;

}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    height: 40px;
}


/* Navbar */

.navbar {
    background-color: transparent;
    transition: 0.6s ease-in-out;
    padding: 5px 20px;
}

.navbar-active {
    box-shadow: 5px 10px 30px rgba(160, 205, 232, 0.457);
	background-color: #E0E5E8;
}

.nav-item {
    margin-right: 5px;
    margin-left: 10px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 600;
	color:#282725;
    /* letter-spacing: 1px; */
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.nav-link.active {
  /* background-color: #00b7ff; */
  color: #282725;
  background-color: #5F97F8;
    box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
	transition: all ease 0.2s;
}


.navbar-nav.ms-auto {
    text-align: center;
}

.navbar-nav.ml-auto {
    text-align: center;
}

.nav-link:hover{
    background-color: #5F97F8;
    /* color:#282725; */
    color: white;
	box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
}

.navbar-toggler {
    color: white;
    border: none;
}

.navbar-toggler-icon {
    background-image: none;
    background-color:#f5f6fa;
    display:block;
    height:2px;
    position:relative;
    transition: background 0.2s ease-out;
    width:18px;
}

.navbar-toggler-icon:before, 
    .navbar-toggler-icon:after{
    background:#f5f6fa;
    content:'';
    display:block;
    height:100%;
    position:absolute;
    transition:all ease-out 0.2s;
    width:100%;   
}
.navbar-toggler-icon:before{
    top:5px;
}
.navbar-toggler-icon:after{
    top:-5px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-checked .navbar-toggler-icon{
    background:transparent;
}
.navbar-toggler-checked .navbar-toggler-icon:before{
    transform: rotate(-45deg);
    top:0;
}
.navbar-toggler-checked .navbar-toggler-icon:after{
    transform: rotate(45deg);
    top:0;
}

.navbar-toggler-checked .navbar-collapse .navbar-nav .nav-item {
    margin-right: 0px;
}

/* Main */

#main {
    width: 100%;
}

.row-center {
    padding: 4em 2em;
    text-align: center;
    align-items: center;
}

.section-padding-top {
    padding: 1em 0 0 0;
}

.col-pb-180 {
    padding: 6em 0 0 0;
}

.col-pb-60 {
    padding: 2em 0 0 0;
}

.col-pb-30 {
    padding: 1em 0 0 0;
}

.mr-20 {
    margin-right: 20px;
}

#main .image-horizontal {
    display: none;
    width: 700px;
}
#main .image-vertical {
    display: block;
    width: 300px;
    margin: auto;
}

.main-description {
    font-family: 'Montserrat';
    text-align: center;
}

.main-description .main-h1 {
	font-family:'Montserrat';
	font-size: 40px;
	margin:0px;
	letter-spacing: 2px;
	color:#262832;
}

.main-description  .main-span {
    color: #5F97F8;
}

.main-description .details{
    margin-top: 10px;
    font-size: 18px;
    color: #969696;
}

.button-text-container .button-title {
    line-height: 10px;
}

.app-store-button {
    display: flex;
    justify-content: center;
}

.cv-btn {
    
    background-color: #00b7ff;
	color:#ffffff;
}

.cv-btn:hover{
	background-color: #0099ff;
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
    transition: all ease 0.5s;
    color: #e7eaec;
}

.youtube-icon:hover {
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
    transition: all ease 0.5s;
    color: #e7eaec;
}

/* Screens */

#screens {
    width: 100%;
    background-repeat: no-repeat;
    background-image: var(--bg-image-landscape);
    background-size: cover;
}

#screens .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0 100px 0;
    width: 100%;
}

.swiper-container {
    margin-top: -6px;
    margin-bottom: -16px;
    width: 100%;
}

.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide >
div .screens-item {
    padding: 0;
    outline: none;
    
}

.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide >
div .screens-item img {
    opacity: 0.5;
    transform: scale(0.8);
    width: 288px;
}

.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide img {
    margin: 0 auto;
}
.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide.slick-center >
div .screens-item img {
    opacity: 1;
    transform: scale(1);
}

#screens .screens-slider {
    margin-top: -32px;
}

#screens .screens-slider .slick-dots li {
    height: 5px;
    width: 16px;
}

#screens .screens-slider .slick-dots li button:before {
    content: 'unset';
    width: 16px;
    height: 5px;
    line-height: 5px;
    background-color: #d6d6d6;
    border-radius: 30px;
    color: transparent;
    opacity: 1;
}

#screens .screens-slider .slick-dots li.slick-active {
    width: 39px;
    height: 5px;
}

#screens .screens-slider .slick-dots li.slick-active button:before {
    width: 39px;
    height: 5px;
    background: #000;
    box-shadow: 0 0 4px 1px #e2e2e2;
}

/* About */

#footer {
    margin-top: 50px;
    width: 100%;
	background-color: rgba(160, 205, 232, 0.457);
}

#footer .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 35px 0px 35px;
    text-align: center;
    width: 100%;
}

.footer-logo img {
    width: 150px;
    margin-top: 10px;
}

.footer-social {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
}

.footer-item {
    font-weight: 400;
    padding: 5px 15px;
    line-height: 30px;
    display: inline;
}

.footer-item a {
    color: #000000;
}

.footer-item span {
    padding-left: 10px;
    font-size: 18px;
}

#footer i.fa {
    font-size: 25px;
}

/* Privacy */
#privacy .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    width: 100%;
    font-family: 'Montserrat';
}
#privacy h1 {
    font-family:'Montserrat';
	/* font-size: 3em; */
    font-weight: 700;
    text-align: left;
    color: #282725;
    margin-bottom: 20px;
    margin-top: 40px;
}

#privacy h2 {
    font-family:'Montserrat';
	/* font-size: 2em; */
    font-weight: 700;
    text-align: left;
    color: #282725;
    margin-bottom: 20px;
    margin-top: 40px;
}

#privacy h3 {
    font-family:'Montserrat';
	/* font-size: 2em; */
    font-weight: 700;
    text-align: left;
    color: #282725;
    margin-bottom: 20px;
    margin-top: 40px;
}

#privacy h4 {
    font-family:'Montserrat';
	/* font-size: 2em; */
    font-weight: 700;
    text-align: left;
    color: #282725;
    margin-bottom: 20px;
    margin-top: 40px;
}
  
#privacy p {
    font-family:'Montserrat';
    /* font-size: 18px; */
    text-align: left;
    color: #282725;
}

#privacy span {
    font-weight: 700;
}

#privacy li {
    text-align: left;
    list-style-type: disc;
}

#privacy .back-link {
    margin-top: 10px;
    margin-bottom: 30px;
}

#privacy a {
    font-family:'Montserrat';
    text-align: left;
    color: #282725;
}


/* Responsive */

@media (min-width: 576px) {

    #main .image-horizontal {
        display: none;
        width: 370px;
    }
    #main .image-vertical {
        display: block;
        width: 370px;
    }

    .section-padding-top {
        padding: 6em 0 0 0;
    }
    .main-description {
        text-align: center;
    }

    .app-store-button {
        display: flex;
        justify-content: center;
    }
 }

 @media (min-width: 768px) {
    #main .image-horizontal {
        display: none;
        width: 370px;
    }
    #main .image-vertical {
        display: block;
        width: 370px;
    }

    .section-padding-top {
        padding: 6em 0 0 0;
    }

    .main-description {
        text-align: center;
    }

    .app-store-button {
        display: flex;
        justify-content: center;
    }
 }

 @media (min-width: 992px) {
    #main .image-horizontal {
        display: none;
        width: 370px;
    }
    #main .image-vertical {
        display: block;
        width: 370px;
    }

    .section-padding-top {
        padding: 6em 0 0 0;
    }

    .main-description {
        text-align: left;
    }

    .app-store-button {
        display: flex;
        justify-content: left;
    }

    #privacy .container {
        padding: 0px 35px 0px 35px;
    }
 }

 @media (min-width: 1200px) {
    #main .image-horizontal {
        display: block;
        width: 600px;
    }
    #main .image-vertical {
        display: none;
        width: 370px;
    }

    .section-padding-top {
        padding: 6em 0 0 0;
    }

    .main-description {
        text-align: left;
    }

    #privacy .container {
        padding: 0px 35px 0px 35px;
    }
 }

 @media (min-width: 1400px) {

    #main .image-horizontal {
        display: block;
        width: 700px;
    }
    #main .image-vertical {
        display: none;
        width: 370px;
    }

    .section-padding-top {
        padding: 6em 0 0 0;
    }

    .main-description {
        text-align: left;
    }

    #privacy .container {
        padding: 0px 35px 0px 35px;
    }
 }
